
:root {

    --header-bg : #161B22;
    --header-logo-bg : #2C98FF;

    --text-bg : #2B2D2E;
    --text-color-one : #ffffff;
    --text-color-two : #d6d9dc;
    --text-color-three: #c8ccd0;
    --text-color-four: #bbc0c4;
    --text-color-five: #9fa6ad;
    --text-color-six: #9199a1;
    --text-color-seven: #848d95;
    --text-color-eight: #6a737c;
    --text-highlight : #2C98FF;
    --dark-blue-bg : #1452af;

    --dark-btn-bg : #0D1117;
    --btn-hightlight-bg : #1F6FEB;
    --btn-hightlight-hover-bg : #1a63cf;

    --body-bg : #0D1117;

    --error-alert-text : #ff5a4e;
    --error-alert-bg : rgba(248,81,73,0.1);
    --error-alert-border : rgba(248,81,73,0.4);
    --success-alert-text : #4cbb59;
    --success-alert-bg : rgba(46,160,67,0.1);
    --success-alert-border : rgb(52, 180, 76);

    --box-bg : #161B22;
    --dropdown-box-bg : #1c2128;
    --border-color : #161B22;
    --border-color-light : #363636;
    --border-hightlight-color : #1F6FEB;


    --inter-text : 'Inter', sans-serif;
    --ff-san : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

}

.app_main
{
    width: 100%;
}

.app_body
{
    margin-top: 55px;
    padding : 25px;
    min-height: 100vh !important;
    background-color: var(--body-bg);
}
.text-highlight
{
    color : var(--text-highlight) !important;
}
.overlay 
{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 120;
    transition: 0.5s all ease-in-out;
}
.failure_container
{
    margin: 8px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    border-radius: 6px;
    background-color: var(--error-alert-bg);
    border: 1px solid var(--error-alert-border);
}
.failure_text
{
    font-family: var(--inter-text);
    font-size: .9rem;
    font-weight: 500;
    color: var(--error-alert-text);
}
.failure_cancle_icon
{
    margin-left: auto;
    color: var(--error-alert-text);
    width: 11px;
    height: 11px;
    cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
