
:root {

    --header-bg : #161B22;
    --header-logo-bg : #2C98FF;

    --text-bg : #2B2D2E;
    --text-color-one : #ffffff;
    --text-color-two : #d6d9dc;
    --text-color-three: #c8ccd0;
    --text-color-four: #bbc0c4;
    --text-color-five: #9fa6ad;
    --text-color-six: #9199a1;
    --text-color-seven: #848d95;
    --text-color-eight: #6a737c;
    --text-highlight : #2C98FF;
    --btn-hightlight-bg : #1F6FEB;

    --body-bg : #0D1117;

    --box-bg : #161B22;
    --border-color : #161B22;
    --border-color-light : #363636;
    --border-hightlight-color : #1F6FEB;

    --inter-text : 'Inter', sans-serif;

}

.app_main
{
    width: 100%;
}

.app_body
{
    margin-top: 57px;
    padding : 25px;
    min-height: 100vh !important;
    background-color: var(--body-bg);
}
.text-highlight
{
    color : var(--text-highlight) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
