.group_call_header_container
{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.group_call_header_name
{
    font-family: var(--ff-san);
    font-size: 1.2rem;
    letter-spacing: 0.010rem;
    font-weight: 700;
    color: var(--text-color-four);
}
.group_call_icons_container
{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.group_call_people_icon_container
{
    position: relative;
}
.group_call_people_badge
{
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: var(--text-highlight);
    border-radius: 50%;
    top: -5px;
    right: -5px;
    font-size: .7rem;
    font-weight: 500;
    color: var(--text-color-one);
}
.group_call_people_badge.right-padding
{
    padding: 0px 5px;
}
.group_call_people_badge.left-padding
{
    padding: 0px;
}
.group_call_people_icon
{
    width: 26px;
    height: 26px;
    color: var(--text-color-six);
    cursor: pointer;
}
.group_call_chat_icon
{
    margin-left: 30px;
    width: 26px;
    height: 26px;
    color: var(--text-color-six);
    cursor: pointer;
}
.group_call_video_container
{
    margin: 15px 0px 15px 0px;
}
.group_call_video_item
{
    width: 100%;
    border-radius: 6px 6px 6px 6px;
}
.group_call_video_body
{
    position: relative;
    padding: 0px 0px 5px 0px;
    border-radius: 6px 6px 6px 6px;
    /* background-color: var(--box-bg); */
}
.group_call_video_body:hover > .group_call_video_footer,
.group_call_video_body:hover > .group_call_user_video_footer
{
    opacity: 1;
}
.group_call_video_footer
{
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 6px 10px;
    transition: opacity 0.6s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
}
.group_call_user_video_footer
{
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 6px 10px;
    transition: opacity 0.6s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
}
.group_call_user_info_container
{
    display: flex;
    align-items: center;
}
.group_call_video_profile
{
    margin-top : 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.group_call_user_info_container > .profile
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.group_call_user_info_container > .name
{
    padding-left: 8px;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--text-color-four);
    font-family: var(--ff-san);
}
.group_call_user_option_container
{
    margin-left: auto;
}
.group_call_user_option_mic, .group_call_user_option_video
{
    margin-right: 19px;
    width: 20px;
    height: 20px;
    color: var(--text-color-four);
    transition: 0.4s all ease-in-out;
}
.group_call_user_option_mic:hover
{
    cursor: pointer;
    color: var(--text-highlight);
}
.group_call_user_option_video:hover
{
    cursor: pointer;
    color: var(--text-highlight);
}
.group_call_user_option_cancel
{
    width: 20px;
    height: 20px;
    color: var(--text-color-four);
    transition: 0.4s all ease-in-out;
}
.group_call_user_option_cancel:hover
{
    cursor: pointer;
    color: var(--error-alert-text)
}
.group_video_call_option_bottom_container
{
    position: fixed;
    bottom: 10px;
    padding: 10px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background-color: var(--box-bg);
    transform: translate(0%, -50%);
    box-shadow: 0 16px 32px rgba(1,4,9,0.85);
}
.group_video_call_option_sub_container
{
    border-radius: 6px;
    padding: 10px 15px;
    margin: 0px 10px;
}
.group_video_call_option_chat
{
    width: 20px;
    height: 20px;
    color: var(--text-color-four);
}
.group_video_call_option_cut
{
    width: 20px;
    height: 20px;
    color: var(--text-color-four);
}


/* user info side panel */

.overlay-panel
{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 120;
    display: none;
}

.overlay-panel.active
{
    display: block;
    animation: show-panel 0.5s ease-out;
}

@keyframes show-panel {
    0% {
        opacity: 0;
    }
    100% {
        opacity : 1;
    }
}


.group_call_user_list_container
{
    position: fixed;
    right: 0px;
    top: 57px;
    width: 350px;
    height: 100vh;
    background-color: var(--box-bg);
    padding: 15px;
    z-index: 250;
    overflow-x: scroll;
}
.group_call_user_list_container::-webkit-scrollbar,
.group_call_chat_container::-webkit-scrollbar
{
    width: 7px;
    border-radius: 6px;
    background-color: var(--box-bg);
}

.group_call_user_list_container::-webkit-scrollbar-track,
.group_call_chat_container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.group_call_user_list_container::-webkit-scrollbar-thumb,
.group_call_chat_container::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 10px;
    border-radius: 20px;
    background: var(--text-color-eight); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.group_call_user_list_header,
.group_call_chat_list_header
{
    padding: 15px 7px;
    display: flex;
    align-items: center;
}
.group_call_user_list_header_name,
.group_call_chat_list_header_name
{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.010rem;
    color: var(--text-color-four);
}
.group_call_user_list_header_close_icon,
.group_call_chat_list_header_close_icon
{
    margin-left: auto;
    color: var(--text-color-six);
    width: 15px;
    height: 15px;
    transition: 0.4s all ease-in-out;
}
.group_call_user_list_header_close_icon:hover,
.group_call_chat_list_header_close_icon:hover
{
    cursor: pointer;
}

.group_call_user_list_body
{
    padding: 15px 7px;
}
.group_call_user_list_item
{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.group_call_user_list_item > .image
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.group_call_user_list_item > .username
{
    padding-left: 9px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--text-color-four);
}


/* group call chat container */

.group_call_chat_container
{
    position: fixed;
    right: 0px;
    top: 57px;
    width: 350px;
    height: 100vh;
    background-color: var(--box-bg);
    padding: 15px;
    z-index: 250;
    overflow-x: scroll;
}
.group_call_middle_chat_container
{
    position: relative;
    margin: 35px 0px;
    padding: 15px 20px 60px 20px;
    background-color: var(--box-bg);
    border-radius: 6px;
    height: 90vh;
    overflow-y: scroll;
}
.group_call_middle_chat_container::-webkit-scrollbar 
{
    width: 4px;
    border-radius: 0px;
    background-color: var(--box-bg);
}

.group_call_middle_chat_container::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.group_call_middle_chat_container::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 10px;
    border-radius: 20px;
    background: var(--text-color-eight); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
