.header_container
{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background-color: var(--header-bg);
    box-shadow: 0px 4px 4px rgba(14, 13, 13, 0.25),0px 0px 0px rgba(22, 21, 21, 0.3);
}
.header_container a
{
    text-decoration: none;
}
.header_intro_container
{
    display: flex;
    align-items: center;
}
.header_logo_icon
{
    width: 20px;
    height: 20px;
    color : var(--header-logo-bg);
}
.header_logo_name
{
    padding : 6px 0px 6px 10px;
    font-family: var(--inter-text);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.015rem;
    color: var(--text-color-one);
}

.header_right_container
{
    display: flex;
    align-items: center;
}
.header_login_name
{
    border-radius: 6px;
    padding: 8px 15px;
    font-family: var(--inter-text);
    font-size: .950rem;
    letter-spacing: 0.010rem;
    color: var(--text-color-one);
    cursor: pointer;
    background-color: var(--btn-hightlight-bg);
    transition: 0.4s all ease-in-out;
}
.header_user_profile
{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    cursor: pointer;
}
.header_user_name
{
    padding-right: 10px;
    font-family: var(--inter-text);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.020rem;
    color: var(--text-color-one);
}
.header_user_dropdown_container
{
    position: absolute;
    padding: 12px 0px;
    top: calc(100% + 5px);
    right: 25px;
    border-radius: 6px;
    width: 200px;
    background-color: var(--dropdown-box-bg);
    box-shadow: 0 16px 32px rgba(1,4,9,0.85);
    z-index: 100;
    display: none;
    transition: 0.7s all ease-in-out, display 0.5s;
}
.header_user_dropdown_container.show
{
    display: block;
}
.header_user_dropdown_list
{
    display: flex;
    align-items: center;
    padding : 10px 15px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.header_user_dropdown_list:hover .header_user_dropdown_list_icon,
.header_user_dropdown_list:hover .header_user_dropdown_list_name
{
    color: var(--text-highlight);
}
.header_user_dropdown_list_icon
{
    color: var(--text-color-three);
    width: 20px;
    height: 20px;
    transition: 0.4s all ease-in-out;
}
.header_user_dropdown_list_name
{
    font-size: .960rem;
    padding-left: 10px;
    font-family: var(--inter-text);
    font-weight: 500;
    letter-spacing: 0.020rem;
    color: var(--text-color-three);
    transition: 0.4s all ease-in-out;
}


