/* home left panel */

.left_container
{
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    bottom: 0px;
}

.home_left_container
{
    padding: 5px 15px;
    border-radius: 6px;
    background-color: var(--box-bg);
}
.home_left_heading
{
    padding: 10px 0px 15px 0px;
    font-family: var(--ff-san);
    line-height: 25px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.010rem;
    color: var(--text-color-two);
}
.highlight
{
    color: var(--text-highlight);
}
.home_left_description
{
    padding: 15px 0px;
    font-family: var(--ff-san);
    font-size: .950rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--text-color-five);
}
.home_left_room_input
{
    width: 100%;
    background-color: var(--body-bg);
    padding: 8px 10px;
    margin: 0px 7px 0px 0px;
    border: none;
    border-radius: 6px;
    border: 1px solid var(--body-bg);
    font-family: var(--ff-san);
    font-size: .9rem;
    color: var(--text-color-four);
}
.home_left_room_input::placeholder
{
    font-size: .790rem;
    font-weight: 500;
    letter-spacing: 0.020rem;
}
.home_left_room_input:focus
{
    outline: none;
    border: 1px solid var(--border-hightlight-color);
}
.home_left_room_join_btn
{
    margin: 15px 0px;
    padding: 7px 0px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-family: var(--ff-san);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--text-color-one);
    background-color: var(--btn-hightlight-bg);
}

/* home left panel */


/* message left panel */

.message_left_container
{
    max-height: 100vh;
}
.message_left_header_container
{
    display: flex;
}
.message_left_header_heading
{
    font-family: var(--ff-san);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.010rem;
    color: var(--text-color-three);
}

.message_left_user_container
{
    margin: 15px 0px;
    padding: 15px 0px;
    background-color: var(--body-bg);
    border-radius: 6px;
    height: 90vh;
    overflow-y: scroll;
}

.message_left_user_container::-webkit-scrollbar 
{
    width: 4px;
    border-radius: 0px;
    background-color: var(--box-bg);
}

.message_left_user_container::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.message_left_user_container::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 10px;
    border-radius: 20px;
    background: var(--text-color-eight); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.message_left_userinfo_container
{
    display: flex;
    align-items: center;
    padding: 2px 0px;
}
.message_left_userinfo_container > .profile
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.message_left_userinfo_user_container
{
    display: flex;
    flex-direction: column;
}
.message_left_userinfo_user_container > .user_name
{
    padding-left: 8px;
    font-family: var(--inter-text);
    font-size: .800rem;
    font-weight: 500;
    letter-spacing: 0.020rem;
    color: var(--text-color-four);
}
.message_left_userinfo_user_container > .admin_text
{
    margin: 7px 0px 0px 8px;
    padding: 2px 0px 2px 5px;
    border-radius: 8px;
    background-color: var(--box-bg);
    font-family: var(--inter-text);
    font-size: .8rem;
    color: var(--text-color-seven);
    letter-spacing: 0.010rem;
    font-weight: 500;
}
.message_left_userInfo_dot_icon
{
    margin-left: auto;
    width: 35px;
    height: 35px;
}
.message_left_userInfo_dot_icon.online
{
    color: var(--success-alert-text);
}
.message_left_userInfo_dot_icon.offline
{
    color: var(--text-color-seven);
}
.message_left_user_hr
{
    color: var(--text-color-eight);
}

/* message left panel */
