
/* Home Middle */

.home_middle_header
{
    display: flex;
    align-items: center;
}
.home_middle_header_title
{
    font-family: var(--ff-san);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.010rem;
    color: var(--text-color-one);
}
.home_middle_header_room_btn
{
    margin-left: auto;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn-hightlight-bg);
    font-family: var(--inter-text);
    font-size: .950rem;
    font-weight: 500;
    color: var(--text-color-one);
    transition: 0.4s all ease-in-out;
}
.home_middle_header_room_btn:hover
{
    background-color: var(--btn-hightlight-hover-bg);
}

.home_middle_room_container
{
    margin: 50px 0px 30px 0px;
}
.home_middle_room_card
{
    padding: 20px 20px 30px 20px;
    border-radius: 6px;
    background-color: var(--box-bg);
}
.home_middle_room_card_header
{
    display: flex;
    align-items: center;
}
.home_middle_room_card_header_title
{
    font-family: var(--ff-san);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color-three);
}
.home_middle_room_card_count
{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home_middle_room_card_count > .icon
{
    margin-right: 8px;
    width: 17px;
    height: 17px;
    color: var(--text-highlight);
}
.home_middle_room_card_count > .count
{
    font-family: var(--inter-text);
    font-size: .890rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--text-color-six);
}
.home_middle_room_card_user
{
    padding-top: 20px;
    font-family: var(--inter-text);
    font-size: .850rem;
    font-weight: 500;
    width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    letter-spacing: 0.020rem;
    text-transform: lowercase;
    color: var(--text-color-seven);
}
.home_middle_room_card_join_btn
{
    margin : 15px 0px;
    display: flex;
    margin-left: auto;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    font-family: var(--inter-text);
    font-size: .950rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    background-color: var(--box-bg);
    color: var(--text-color-three);
    transition: 0.4s all ease-in-out;
}
.home_middle_room_card_join_btn:hover
{
    background-color: var(--btn-hightlight-bg);
}


/* Home Middle */


/* message middle panel */

.message_middle_container
{
    max-height: 100vh;
    padding-bottom: 40px;
    position: relative;
    /* overflow-y: scroll; */
}

.message_middle_header_container
{
    display: flex;
}
.message_middle_header_heading
{
    font-family: var(--ff-san);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--text-color-three);
}
.message_middle_chat_container
{
    margin: 15px 0px;
    padding: 15px 20px 60px 20px;
    background-color: var(--box-bg);
    border-radius: 6px;
    height: 90vh;
    overflow-y: scroll;
}

.message_middle_chat_container::-webkit-scrollbar 
{
    width: 4px;
    border-radius: 0px;
    background-color: var(--box-bg);
}

.message_middle_chat_container::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.message_middle_chat_container::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 10px;
    border-radius: 20px;
    background: var(--text-color-eight); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.message_chat_welcome_message
{
    text-align: center;
    font-family: var(--inter-text);
    font-size: .9rem;
    font-weight: 400;
    color: var(--text-color-six);
}
.message_middle_chat_user_container
{
    margin: 10px 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.message_middle_chat_user_name
{
    font-family: var(--inter-text);
    padding-left: 6px;
    font-size: .760rem;
    font-weight: 400;
    letter-spacing: 0.015rem;
    color: var(--text-color-five);
}
.message_middle_chat_user_text
{
    margin: 10px 0px;
    border-radius: 30px 30px 30px 0px;
    padding: 10px 15px;
    max-width: 500px;
    background-color: var(--body-bg);
    font-family: var(--ff-san);
    font-size: .900rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
    line-height: 25px;
    color: var(--text-color-three);
}
.message_middle_chat_logged_user_container
{
    margin: 10px 0px;
    position: relative;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
}
.message_middle_chat_logged_user_name
{
    padding: 10px 0px;
    font-family: var(--inter-text);
    padding-right: 6px;
    font-size: .760rem;
    font-weight: 400;
    letter-spacing: 0.015rem;
    color: var(--text-color-five);
}
.message_middle_chat_logged_user_text
{
    border-radius: 30px 30px 0px 30px;
    max-width: 500px;
    padding: 10px 15px;
    background-color: var(--dark-blue-bg);
    font-family: var(--ff-san);
    font-size: .900rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
    line-height: 25px;
    color: var(--text-color-one);
}
.message_chat_input_container
{
    position: absolute;
    padding: 10px 10px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: var(--box-bg);
    display: flex;
    align-items: center;
}
.message_chat_input
{
    padding: 8px 15px;
    border: none;
    width: 100%;
    font-family: var(--ff-san);
    font-size: .900rem;
    border: 1px solid var(--body-bg);
    letter-spacing: 0.010rem;
    color: var(--text-color-four);
    background-color: var(--body-bg);
    border-radius: 10px;
}
.message_chat_input::placeholder
{
    font-size: .8rem;
    font-family: var(--inter-text);
    letter-spacing: 0.020rem;
    font-weight: 500;
    color: var(--text-color-eight);
}
.message_chat_input:focus
{
    outline: none;
    border: 1px solid var(--border-hightlight-color);
}
.message_send_btn
{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: var(--box-bg);
    font-family: var(--inter-text);
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--text-color-four);
}
.message_send_btn > .icon
{   
    width: 18px;
    height: 18px;
}
.message_send_btn:focus
{
    outline: none;
}

/* message middle panel */
