/* message right panel */

.message_right_container
{
    max-height: 100vh;
}
.message_right_header_container
{
    display: flex;
}
.message_right_header_heading
{
    font-family: var(--ff-san);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.010rem;
    color: var(--text-color-three);
}

.message_right_user_container
{
    margin: 15px 0px;
    padding: 15px 0px;
    background-color: var(--body-bg);
    border-radius: 6px;
    height: 90vh;
    overflow-y: scroll;
}

.message_right_user_container::-webkit-scrollbar 
{
    width: 4px;
    border-radius: 0px;
    background-color: var(--box-bg);
}

.message_right_user_container::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.message_right_user_container::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 10px;
    border-radius: 20px;
    background: var(--text-color-eight); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.message_right_userinfo_container
{
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
.message_right_userinfo_container > .profile
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.message_right_userinfo_container > .user_name
{
    padding-left: 8px;
    font-family: var(--inter-text);
    font-size: .770rem;
    font-weight: 500;
    letter-spacing: 0.020rem;
    color: var(--text-color-four);
}

/* message right panel */


/* user Profile panel */

.user_right_profile_container
{
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    bottom: 0px;
    padding: 20px 15px;
    background-color: var(--box-bg);
    border-radius: 6px;
}
.user_right_profile_header
{
    display: flex;
    align-items: center;
}
.user_right_profile_header > .profile
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user_right_profile_header > .user_name
{
    padding-left: 10px;
    font-family: var(--ff-san);
    font-size: 1.150rem;
    font-weight: 700;
    letter-spacing: 0.007rem;
    color: var(--text-color-two);
}

/* user profile panel */
