/* user Profile panel */

.right_panel
{
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    bottom: 0px;
}

.user_right_profile_container
{
    padding: 20px 15px;
    background-color: var(--box-bg);
    border-radius: 6px;
}
.user_right_profile_header
{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.user_right_profile_header > .profile
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user_right_profile_header > .user_name
{
    padding-left: 10px;
    font-family: var(--ff-san);
    font-size: 1.150rem;
    font-weight: 700;
    letter-spacing: 0.007rem;
    color: var(--text-color-two);
}
.user_right_profile_body
{
    margin: 1px 0px;
}
.user_right_profile_description
{
    padding: 5px 0;
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .02rem;
    font-family: var(--ff-san);
    color: var(--text-color-four);
}
.user_right_profile_follow_btn
{
    margin: 15px 0px;
    padding: 8px 0px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: var(--btn-hightlight-bg);
    font-family: var(--ff-san);
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color-one);
    letter-spacing: 0.010rem;
}
.user_right_profile_info_container
{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
}
.user_right_profile_info_heading
{
    font-size: .86rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .015rem;
    font-family: var(--ff-san);
    color: var(--text-color-five);
}
.user_right_profile_info_text
{
    padding: 4px 0px 0px;
    font-size: .880rem;
    font-weight: 500;
    font-family: var(--ff-san);
    color: var(--text-color-seven);
}
.user_right_leave_group_btn
{
    margin: 10px 0px;
    width: 100%;
    padding: 8px 0px;
    background-color: transparent;
    border: none;
    border: 1px solid var(--error-alert-border);
    font-family: var(--ff-san);
    font-size: .940rem;
    font-weight: 500;
    border-radius: 6px;
    color: var(--error-alert-text);
    transition: 0.4s all ease-in-out;
}
.user_right_leave_group_btn:hover
{
    background-color: var(--error-alert-text);
    color: var(--text-color-one);
}

/* user profile panel */


/* home user group list */

.home_right_user_group_container
{
    margin: 20px 0px;
    padding: 15px 10px;
    background-color: var(--box-bg);
    border-radius: 6px;
}

.home_right_user_group_heading
{
    font-family: var(--ff-san);
    font-size: 1.150rem;
    font-weight: 600;
    color: var(--text-color-three);
    padding-bottom: 10px;
}
.home_right_user_group_item
{
    margin: 10px 0px;
    padding: 8px 5px;
}
.home-right_user_group_header
{
    display: flex;
    align-items: center;
}
.home_right_user_group_name
{
    font-family: var(--ff-san);
    font-size: .860rem;
    font-weight: 500;
    width: 100px;
    color: var(--text-color-six);
    letter-spacing: 0.010rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.home_right_user_group_count
{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.home_right_user_group_count > .count
{
    color: var(--text-color-six);
    font-family: var(--ff-san);
    font-size: .860rem;
}
.home_right_user_group_count > .icon
{
    margin-right: 8px;
    width: 15px;
    height: 15px;
    color: var(--text-highlight);
}

/* home user group list */


/* message right panel */

.message_right_panel_container
{
    margin: 20px 0px;
    padding: 15px 15px;
    background-color: var(--box-bg);
    border-radius: 6px;
}
.message_right_panel_group_info_heading
{
    padding: 8px 0px 8px 0px;
    font-family: var(--ff-san);
    font-size: 1rem;
    font-weight: 600;
    line-height: 25px;
    color: var(--text-color-four);
}
.message_right_panel_group_id_container
{
    margin: 15px 0px;
    padding: 10px 8px;
    border-radius: 6px;
    background-color: var(--body-bg);
    display: flex;
    align-items: center;
}
.message_right_panel_group_id_name
{
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--ff-san);
    font-size: .9rem;
    letter-spacing: 0.020rem;
    font-weight: 500;
    color: var(--text-color-six);
}
.message_right_panel_group_id_container .icon
{
    margin-left: auto;
    width: 15px;
    height: 15px;
    color: var(--text-color-six);
    transition: 0.4s all ease-in-out;
}
.message_right_panel_group_id_container .icon2
{
    margin-left: auto;
    width: 15px;
    height: 15px;
    color: var(--success-alert-text);
    transition: 0.4s all ease-in-out;
}
.message_right_panel_group_id_container .icon:hover
{
    cursor: pointer;
    color: var(--text-highlight);
}

/* message right panel */
